const API = "https://reservation-system-nle7.onrender.com";
const token = localStorage.getItem("token");

let calendar;

async function loadResources() {
  const res = await fetch(API + "/resources");
  const data = await res.json();

  const select = document.getElementById("resourceSelect");

  select.innerHTML = "";

  data.forEach(r => {
    const opt = document.createElement("option");
    opt.value = r.id;
    opt.textContent = r.name;
    select.appendChild(opt);
  });
}

async function loadEvents(resourceId) {
  const res = await fetch(API + "/bookings");
  const data = await res.json();

  return data
    .filter(b => b.resource_id == resourceId)
    .map(b => ({
      title: "予約",
      start: b.start_at,
      end: b.end_at,
      color: "red"
    }));
}

async function initCalendar() {

  const select = document.getElementById("resourceSelect");
  const resourceId = select.value;

  const events = await loadEvents(resourceId);

  const calendarEl = document.getElementById("calendar");

  if (calendar) calendar.destroy();

  calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: "timeGridWeek",
    selectable: true,

    select: async (info) => {

      const res = await fetch(API + "/bookings", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "token": token
        },
        body: JSON.stringify({
          resource_id: Number(resourceId),
          start_at: info.startStr,
          end_at: info.endStr
        })
      });

      if (res.ok) {
        alert("予約成功");
        initCalendar();
      } else {
        alert("予約不可");
      }
    },

    events: events
  });

  calendar.render();
}

function logout(){
  localStorage.removeItem("token");
  alert("ログアウトしました");
}

document.getElementById("resourceSelect")
  .addEventListener("change", initCalendar);

loadResources().then(initCalendar);

#calendar {
  height: 700px;
}

.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.7);

  z-index: 9999;

  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 320px;
  text-align: center;
  border-radius: 10px;
}
  
body.modal-open .fc {
  pointer-events: none;
}
