body {
  font-family: sans-serif;
}

#calendar {
  height: 700px;
  max-width: 900px;
  margin: 0 auto;
}

.fc {
  user-select: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: all;
  display: none;
}

#modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  background: white;
  padding: 20px;
  border-radius: 8px;
  display: none;
  z-index: 9999;
}

#modal button {
  margin: 5px;
  padding: 8px 12px;
}

#legend {
  margin: 10px 0;
  font-size: 14px;
}

.fc-event {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  border: none;
  color: white;
}

.fc-event-time {
  font-size: 12px;
  opacity: 0.9;
}

.fc-event-title {
  margin-top: 2px;
}

.fc-non-business {
  background-color: rgba(240, 240, 240, 0.9) !important;
}

.fc-timegrid-slot-lane {
  background-color: rgba(200, 200, 200, 0.4);
  background-clip: padding-box;
}

.fc-day-mon .fc-timegrid-slot-lane[data-time^="09"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="10"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="11"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="12"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="13"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="14"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="15"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="16"],
.fc-day-mon .fc-timegrid-slot-lane[data-time^="17"],

.fc-day-tue .fc-timegrid-slot-lane[data-time^="09"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="10"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="11"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="12"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="13"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="14"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="15"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="16"],
.fc-day-tue .fc-timegrid-slot-lane[data-time^="17"],

.fc-day-wed .fc-timegrid-slot-lane[data-time^="09"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="10"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="11"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="12"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="13"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="14"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="15"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="16"],
.fc-day-wed .fc-timegrid-slot-lane[data-time^="17"],

.fc-day-thu .fc-timegrid-slot-lane[data-time^="09"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="10"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="11"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="12"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="13"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="14"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="15"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="16"],
.fc-day-thu .fc-timegrid-slot-lane[data-time^="17"],

.fc-day-fri .fc-timegrid-slot-lane[data-time^="09"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="10"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="11"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="12"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="13"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="14"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="15"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="16"],
.fc-day-fri .fc-timegrid-slot-lane[data-time^="17"] {
  background-color: rgba(255, 255, 255, 1);
}

.fc-timegrid-slot {
  border-top: 1px solid #444 !important;
}

.fc-timegrid-slot-minor {
  border-top: 1px dashed #999 !important;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#menuButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#menu {
  position: absolute;
  top: 40px;
  right: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.fc-day-sun .fc-timegrid-slot-lane,
.fc-day-sat .fc-timegrid-slot-lane,{
  background-color: rgba(180, 180, 180, 0.6) !important;
}

.fc-day-sun,
.fc-day-sat {
  background-color: rgba(200, 200, 200, 0.4) !important;
}

#modal label {
  display: block;
  margin-top: 10px;
}

#modal input,
#modal textarea {
  width: 100%;
  margin-top: 5px;
}

#detailModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: white;
  padding: 20px;
  border-radius: 8px;

  z-index: 1001;  
  
  display: none; 
}
